In [29]:
import yfinance as yf
import tensorflow
import dataclasses
import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn; seaborn.set()
import datetime
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Activation
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

In [30]:
yf.download(tickers="ETH-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984
...,...,...,...,...,...,...
2022-05-14,2014.280640,2063.429932,1956.572998,2056.273926,2056.273926,15457044616
2022-05-15,2056.183105,2147.194336,2008.162720,2145.706787,2145.706787,14846088335
2022-05-16,2145.836914,2145.836914,1988.811768,2022.725952,2022.725952,21459552191
2022-05-17,2022.882324,2113.059814,2015.971558,2090.409180,2090.409180,18509929297
2022-05-18,2093.561768,2101.191162,2035.776123,2047.257690,2047.257690,18047784960

In [21]:
yf.download(tickers="ETH-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984
...,...,...,...,...,...,...
2022-05-14,2014.280640,2063.429932,1956.572998,2056.273926,2056.273926,15457044616
2022-05-15,2056.183105,2147.194336,2008.162720,2145.706787,2145.706787,14846088335
2022-05-16,2145.836914,2145.836914,1988.811768,2022.725952,2022.725952,21459552191
2022-05-17,2022.882324,2113.059814,2015.971558,2090.409180,2090.409180,18509929297
2022-05-18,2093.561768,2101.191162,2035.776123,2046.100708,2046.100708,18042097664

In [22]:
yf.download(tickers="BIT-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2018-07-25  0.003299  0.004294  0.003295  0.004256   0.004256  130010
2018-07-26  0.004252  0.005119  0.003322  0.005104   0.005104  147874
2018-07-27  0.005102  0.005123  0.004145  0.004227   0.004227  142382
2018-07-28  0.003758  0.004686  0.003721  0.004668   0.004668   78757
2018-07-29  0.004671  0.004700  0.003700  0.003735   0.003735  157257
...              ...       ...       ...       ...        ...     ...
2022-05-14  0.000077  0.000079  0.000075  0.000079   0.000079       0
2022-05-15  0.000079  0.000082  0.000077  0.000082   0.000082       3
2022-05-16  0.000082  0.000082  0.000076  0.000077   0.000077       0
2022-05-17  0.000077  0.000081  0.000077  0.000080   0.000080       0
2022-05-18  0.000080  0.000080  0.000078  0.000078   0.000078       3

[1394 rows x 6 columns]

In [23]:
yf.download(tickers="SOL-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close      Volume
Date
2020-04-10   0.832005   1.313487   0.694187   0.951054   0.951054    87364276
2020-04-11   0.951054   1.049073   0.765020   0.776819   0.776819    43862444
2020-04-12   0.785448   0.956670   0.762426   0.882507   0.882507    38736897
2020-04-13   0.890760   0.891603   0.773976   0.777832   0.777832    18211285
2020-04-14   0.777832   0.796472   0.628169   0.661925   0.661925    16747614
...               ...        ...        ...        ...        ...         ...
2022-05-14  48.676643  53.061165  46.220566  52.417225  52.417225  2042138537
2022-05-15  52.431343  58.878067  49.834801  58.811260  58.811260  1843835578
2022-05-16  58.803913  58.803913  52.267929  53.646461  53.646461  2067312217
2022-05-17  53.656006  58.038071  53.505302  57.125626  57.125626  1823895389
2022-05-18  57.337849  57.668720  55.092564  55.700195  55.700195  1783456768

[769 rows x 6 columns]

In [24]:
yf.download(tickers="BNB-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-09,2.053140,2.174230,1.893940,1.990770,1.990770,19192200
2017-11-10,2.007730,2.069470,1.644780,1.796840,1.796840,11155000
2017-11-11,1.786280,1.917750,1.614290,1.670470,1.670470,8178150
2017-11-12,1.668890,1.672800,1.462560,1.519690,1.519690,15298700
2017-11-13,1.526010,1.735020,1.517600,1.686620,1.686620,12238800
...,...,...,...,...,...,...
2022-05-14,290.618073,298.802856,272.651154,297.387604,297.387604,1884570404
2022-05-15,297.397369,312.176544,286.643768,312.007721,312.007721,1611088257
2022-05-16,312.084137,312.144257,290.461823,297.710114,297.710114,1754184298
2022-05-17,297.699310,310.194458,296.961792,305.963440,305.963440,1584497815
2022-05-18,306.524689,307.553406,299.776184,300.384613,300.384613,1548953472

In [25]:
yf.download(tickers="USDC-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close      Volume
Date
2018-10-08  1.004100  1.007680  1.001900  1.002210   1.002210      382900
2018-10-09  1.004270  1.008330  1.000030  1.006860   1.006860      108803
2018-10-10  1.004940  1.019080  1.003970  1.009620   1.009620      711783
2018-10-11  1.009940  1.031230  1.001730  1.009780   1.009780     4177290
2018-10-12  1.008610  1.018710  1.001140  1.012720   1.012720     1322240
...              ...       ...       ...       ...        ...         ...
2022-05-14  1.000418  1.000977  0.999695  1.000381   1.000381  5734214071
2022-05-15  1.000368  1.001026  0.999863  1.000183   1.000183  4610661832
2022-05-16  1.000195  1.000816  0.999740  1.000581   1.000581  6650512579
2022-05-17  1.000623  1.001045  0.999940  1.000219   1.000219  5271575140
2022-05-18  1.000531  1.000741  0.999995  1.000741   1.000741  5305785344

[1319 rows x 6 columns]

In [26]:
yf.download(tickers="USDT-USD",  period='10y', interval='1d')

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close       Volume
Date
2017-11-09  1.010870  1.013270  0.996515  1.008180   1.008180    358188000
2017-11-10  1.006500  1.024230  0.995486  1.006010   1.006010    756446016
2017-11-11  1.005980  1.026210  0.995799  1.008990   1.008990    746227968
2017-11-12  1.006020  1.105910  0.967601  1.012470   1.012470   1466060032
2017-11-13  1.004480  1.029290  0.975103  1.009350   1.009350    767884032
...              ...       ...       ...       ...        ...          ...
2022-05-14  0.998242  0.998971  0.997791  0.998780   0.998780  60781876668
2022-05-15  0.998780  0.999077  0.998492  0.999069   0.999069  53979914930
2022-05-16  0.999084  0.999153  0.998659  0.998779   0.998779  62504490441
2022-05-17  0.998772  0.999107  0.998650  0.998909   0.998909  55745978864
2022-05-18  0.998867  0.999055  0.998772  0.998993   0.998993  56479322112

[1652 rows x 6 columns]

In [16]:
data=yf.download(tickers="ETH-USD BIT-USD SOL-USD BNB-USD USDC-USD USDT-USD",  period='10y', interval='1d')
group_by = 'ticker'
data

[*********************100%***********************]  6 of 6 completed

           Adj Close                                                          \
             BIT-USD     BNB-USD      ETH-USD    SOL-USD  USDC-USD  USDT-USD
Date
2017-11-09       NaN    1.990770   320.884003        NaN       NaN  1.008180
2017-11-10       NaN    1.796840   299.252991        NaN       NaN  1.006010
2017-11-11       NaN    1.670470   314.681000        NaN       NaN  1.008990
2017-11-12       NaN    1.519690   307.907990        NaN       NaN  1.012470
2017-11-13       NaN    1.686620   316.716003        NaN       NaN  1.009350
...              ...         ...          ...        ...       ...       ...
2022-05-14  0.000079  297.387604  2056.273926  52.417225  1.000381  0.998780
2022-05-15  0.000082  312.007721  2145.706787  58.811260  1.000183  0.999069
2022-05-16  0.000077  297.710114  2022.725952  53.646461  1.000581  0.998779
2022-05-17  0.000080  305.963440  2090.409180  57.125626  1.000219  0.998909
2022-05-18  0.000078  300.971436  2045.603760  55.702736  1.000193  0.998935

               Close                                      ...         Open  \
             BIT-USD     BNB-USD      ETH-USD    SOL-USD  ...      ETH-USD
Date                                                      ...
2017-11-09       NaN    1.990770   320.884003        NaN  ...   308.644989
2017-11-10       NaN    1.796840   299.252991        NaN  ...   320.670990
2017-11-11       NaN    1.670470   314.681000        NaN  ...   298.585999
2017-11-12       NaN    1.519690   307.907990        NaN  ...   314.690002
2017-11-13       NaN    1.686620   316.716003        NaN  ...   307.024994
...              ...         ...          ...        ...  ...          ...
2022-05-14  0.000079  297.387604  2056.273926  52.417225  ...  2014.280640
2022-05-15  0.000082  312.007721  2145.706787  58.811260  ...  2056.183105
2022-05-16  0.000077  297.710114  2022.725952  53.646461  ...  2145.836914
2022-05-17  0.000080  305.963440  2090.409180  57.125626  ...  2022.882324
2022-05-18  0.000078  300.971436  2045.603760  55.702736  ...  2093.561768

                                           Volume                           \
              SOL-USD  USDC-USD  USDT-USD BIT-USD     BNB-USD      ETH-USD
Date
2017-11-09        NaN       NaN  1.010870     NaN    19192200    893249984
2017-11-10        NaN       NaN  1.006500     NaN    11155000    885985984
2017-11-11        NaN       NaN  1.005980     NaN     8178150    842300992
2017-11-12        NaN       NaN  1.006020     NaN    15298700   1613479936
2017-11-13        NaN       NaN  1.004480     NaN    12238800   1041889984
...               ...       ...       ...     ...         ...          ...
2022-05-14  48.676643  1.000418  0.998242     0.0  1884570404  15457044616
2022-05-15  52.431343  1.000368  0.998780     3.0  1611088257  14846088335
2022-05-16  58.803913  1.000195  0.999084     0.0  1754184298  21459552191
2022-05-17  53.656006  1.000623  0.998772     0.0  1584497815  18509929297
2022-05-18  57.337849  1.000531  0.998867     3.0  1544585344  18017832960


                 SOL-USD      USDC-USD     USDT-USD
Date
2017-11-09           NaN           NaN    358188000
2017-11-10           NaN           NaN    756446016
2017-11-11           NaN           NaN    746227968
2017-11-12           NaN           NaN   1466060032
2017-11-13           NaN           NaN    767884032
...                  ...           ...          ...
2022-05-14  2.042139e+09  5.734214e+09  60781876668
2022-05-15  1.843836e+09  4.610662e+09  53979914930
2022-05-16  2.067312e+09  6.650513e+09  62504490441
2022-05-17  1.823895e+09  5.271575e+09  55745978864
2022-05-18  1.782522e+09  5.308877e+09  56342499328

[1652 rows x 36 columns]